.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.primart_Btn {
  background-color: #12a7bb;
  color: #ffffff;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
}

.primart_Btn:hover {
  background-color: #1094a6;
  color: #ffffff;
  outline: none;
}

.secondary_Btn {
  background-color: #dcdfe1;
  color: #000000;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
}

.secondary_Btn:hover {
  background-color: #12a7bb;
  color: #ffffff;
  outline: none;
}
