<mat-card layout-fill fxLayout="column" fxLayoutGap="40px">
  <mat-card>
      <mat-card-content>
          <div fxLayout="row">
              <div fxFlex="85%" fxLayout="column" fxLayoutAlign="start start ">
                  <div mat-line> {{"RoomName" | translate}}: {{room.RoomName}}</div>
                  <div>
                      <label>{{"Place" | translate}}:</label>
                      <mat-form-field>
                          <input matInput value={{room.Place}}>
                      </mat-form-field>
                  </div>
                  <div mat-line> {{"Account" | translate}}: {{room.Account}}</div>
              </div>
              <div fxFlex="30%" fxLayoutAlign="center center">
                  <button mat-raised-button>{{"Edit" | translate}}</button>
              </div>
          </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-list role="list" style='padding:0%'>
        <mat-list-item class='mat-list-item-fixed' style='height:120px ; width:100%' role="listitem" *ngFor="let device of hello.Devices; let lastItem = last;">
            <img mat-list-avatar src="https://source.unsplash.com/random/200x200 " alt="Desc 1 ">
            <h3 mat-line>{{device.Device}}</h3>
            <h4 [fxShow]="device.DeviceName" mat-line>{{"Model" | translate}}: {{device.DeviceName}}</h4>
            <h4 [fxShow]="device.DeviceName" mat-line>{{"Serial No" | translate}}: {{'name'}}</h4>
            <h4 [fxShow]="device.DeviceName" mat-line>{{"IP Address" | translate}}: {{device.NetworkAddress}}</h4>
            <div fxflex="noshrink" fxFlex="30%" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end center">
                <div *ngIf="device.DeviceName" fxLayout="row" fxLayoutGap="10px">
                    <button mat-raised-button routerLink='../{{hello.RoomId}}/device/{{device.DeviceId}}'
                        [queryParams]="{deviceType: device.Device}">{{"Edit"
                        | translate}}</button>
                    <button mat-raised-button>{{"Delete" | translate}}</button>
                </div>
                <div *ngIf="device.DeviceName">
                    <button class='mat-raised-button-large' mat-raised-button>{{"ChangeRoom" | translate}}</button>
                </div>
                <div *ngIf="!device.DeviceName">
                    <button class='mat-raised-button-large' mat-raised-button routerLink='../{{hello.RoomId}}/device'
                        [queryParams]="{deviceType: device.Device}">{{"RegisterDevice"
                        | translate}}</button>
                </div>
            </div>
            <mat-divider *ngIf="!lastItem"></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>
<div mat-line fxLayoutAlign="end end">
    <button mat-raised-button routerLink='/hello'>{{"Ok"|translate}}</button>
</div>
</mat-card>
