<mat-card>
  <mat-card-title>{{ 'HelloList' | translate }}</mat-card-title>
  <mat-card-content>
      <mat-form-field>
          <mat-label>{{ 'View' | translate }}</mat-label>
          <mat-select>
              <mat-option *ngFor="let state of view" [value]="state.value">
                  {{ state.viewValue }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="{{'SearchRoom' | translate }}" id="room-Id-Search-Box">
      </mat-form-field>
  </mat-card-content>
</mat-card>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
          </mat-cell>
      </ng-container>

      <!-- Position Column  -->
      <ng-container matColumnDef="Activated">
          <mat-header-cell *matHeaderCellDef> {{'Status' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Activated ? ('Active' | translate) : ('Unassigned' | translate)}} </mat-cell>
      </ng-container>

      <!-- Room Name Column -->
      <ng-container matColumnDef="RoomName">
          <mat-header-cell *matHeaderCellDef> {{'RoomName' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.RoomName}} </mat-cell>
      </ng-container>

      <!-- Place Column -->
      <ng-container matColumnDef="Place">
          <mat-header-cell *matHeaderCellDef> {{'Place' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Place}} </mat-cell>
      </ng-container>

      <!-- Devices Column -->
      <ng-container matColumnDef="Devices">
          <mat-header-cell *matHeaderCellDef> {{'Device' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <span *ngFor="let device of element.Devices">
                  {{device.Device}}
              </span>
          </mat-cell>
      </ng-container>

      <!-- Account Column -->
      <ng-container matColumnDef="Account">
          <mat-header-cell fxLayout="row" fxLayoutAlign="space-between center" *matHeaderCellDef>
              <span fxLayoutAlign="start center"> {{'Account' | translate }} </span>
              <button mat-icon-button fxLayoutAlign="end center" color="primary" (click)="refresh()">
                  <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
              </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Account}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="navigateRoomDetails(row)">
          <!-- (click)="selection.toggle(row)" -->
      </mat-row>
  </mat-table>
</div>