<mat-card-title>
        {{"Edit" | translate}} {{"Device" | translate}}
    </mat-card-title>

<mat-card class="custom_mat_edit">
    <mat-card-content>
        <form id='deviceForm' fxLayout="column" [formGroup]="deviceForm">
            <div fxLayoutGap="20px" fxLayoutAlign="start center">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Model" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='deviceName' name='#deviceName' #deviceName formControlName="deviceName"
                        maxlength="32">
                </mat-form-field>
            </div>
            <!-- <div fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Serial No" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='serialNo' #SerialNo formControlName="serialNo" maxlength="32">
                </mat-form-field>
            </div>
            <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Connection Type" | translate}}: </label>
                <mat-radio-group fxFlex="70%" fxLayoutAlign="start end" formControlName="connectionType" (change)="handleChange($event)">
                    <mat-radio-button fxFlex="20%" *ngFor="let conType of conTypes" [value]="conType"> {{conType |
                        translate}}
                    </mat-radio-button>
                </mat-radio-group>
            </div> -->
            <div fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"IP Address" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='networkAddress' formControlName="networkAddress">
                </mat-form-field>
            </div>
            <!-- <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Port" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='port' type="number" formControlName="port">
                </mat-form-field>
            </div>
            <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Account ID" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='accountId' formControlName='accountId'>
                </mat-form-field>
            </div>
            <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"Password" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='password' type='password' formControlName='password'>
                </mat-form-field>
            </div>
            <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"COM Serial Port" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='comSerialPort' formControlName='comSerialPort'>
                </mat-form-field>
            </div>
            <div *ngIf="deviceType=='Soc IWB'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"COM Serial Speed" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='comSerialSpeed' formControlName='comSerialSpeed'>
                </mat-form-field>
            </div> -->
            <div *ngIf="deviceType=='WePresent'" fxLayoutGap="20px">
                <label fxFlex="20%" fxLayoutAlign="end center">{{"PIN" | translate}}: </label>
                <mat-form-field>
                    <input matInput id='pinCode' type="number" formControlName="pinCode">
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div fxFlex="50%" fxLayoutAlign="end center" fxLayoutGap="4%">
            <button class="primart_Btn" mat-raised-button [type]="submit" (click)="Save()" [disabled]='deviceForm.invalid'>{{"Ok"
                | translate}}</button>
            <button class="secondary_Btn" mat-raised-button routerLink='/roomdetail/{{roomId}}'>{{"Cancel" | translate}}</button>
        </div>
    </mat-card-actions>
</mat-card>
