<div class="container">
    <h1 mat-dialog-title>{{'AddRoom' | translate }}</h1>
    <div mat-dialog-content>
        <form id='addRoomForm' fxLayout="column" name='addRoomForm' #addRoomForm [formGroup]="addGroupForm">
            <mat-form-field class="align-center">
                <input id='roomName' name='roomName' #roomName matInput placeholder="{{'RoomName' | translate }}"
                    formControlName="roomName" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let room of roomSearchResult" [value]="room.name" (onSelectionChange)="roomSelection(room)">
                        {{ room.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="addGroupForm.get('roomName').hasError('required')">{{'EnterValue' | translate }}</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button [type]="submit" [mat-dialog-close]="1" [disabled]='addGroupForm.invalid' (click)="confirmAdd()">{{'Save'
            | translate }}</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">{{'Cancel' | translate }}</button>
    </div>
</div>
