.table_space {
    margin-top: 15px;
}

mat-table mat-header-row mat-header-cell {
    background-color: #727672 !important;
    color: #ffffff !important;
    font-size: 14px !important;
}

:host ::ng-deep .custom_mat_list mat-form-field.mat-form-field-invalid div.mat-form-field-underline span.mat-form-field-ripple {
    background-color: #e47e13 !important;
}

:host ::ng-deep .custom_mat_list mat-form-field.mat-focused div.mat-form-field-underline span.mat-form-field-ripple {
    background-color: #12a7bb !important;
}

:host ::ng-deep .custom_mat_list mat-form-field div.mat-form-field-infix mat-select.mat-select div.mat-select-trigger div.mat-select-arrow-wrapper div.mat-select-arrow {
    color: #303331 !important;
}

/* Text Field */
:host ::ng-deep .custom_mat_list mat-form-field div.mat-form-field-wrapper {
    padding: 6px 0 16px 0 !important;
    margin: 0 12px !important;
}

:host ::ng-deep .custom_mat_list mat-form-field.mat-focused div.mat-form-field-infix input.mat-input-element {
    color: #303331 !important;
    font-size: 14px !important;
}

:host ::ng-deep .custom_mat_list mat-form-field div.mat-form-field-infix input {
    padding: 0.4em 0;
}

:host ::ng-deep .custom_mat_list mat-form-field div.mat-form-field-infix span.mat-form-field-label-wrapper label.mat-form-field-label {
    color: #303331 !important;
    font-size: 18px !important;
}

:host ::ng-deep .custom_mat_list mat-form-field.mat-focused div.mat-form-field-infix span.mat-form-field-label-wrapper label.mat-form-field-label { 
    color: #303331 !important;
    font-size: 18px !important;
}

/* Button */
.icon_btn {
    color: #ffffff !important;
    outline: none !important;
    place-content: center !important;
    /*margin: 0 5px 0 5px !important*/
}

.icon_btn:hover {
    color: #12a7bb !important;
    outline: none !important;
    place-content: center !important;
}

/* Pageination */
:host ::ng-deep .custom_mat_paginator mat-form-field.mat-focused div.mat-form-field-underline span.mat-form-field-ripple {
    background-color: #12a7bb !important;
}

:host ::ng-deep .custom_mat_paginator mat-form-field div.mat-form-field-infix mat-select.mat-select div.mat-select-trigger div.mat-select-arrow-wrapper div.mat-select-arrow {
    color: #303331 !important;
}

:host ::ng-deep .custom_mat_paginator div.mat-paginator-range-actions div.mat-paginator-range-label {
    color: #303331 !important;
}

:host ::ng-deep .custom_mat_paginator div.mat-paginator-range-actions button.mat-icon-button {
    outline: none !important;
}

.no-results {
    text-align: center;
    padding: 25px 0;
}