<mat-card-title>{{ 'RoomList' | translate }}</mat-card-title>

<mat-card class="custom_mat_list">
    <mat-card-content>
        <form id='filterForm' [formGroup]="filterForm">
            <mat-form-field>
                <mat-label>{{ 'View' | translate }}</mat-label>
                <mat-select (selectionChange)="onSelection($event)" formControlName="View">
                    <mat-option *ngFor="let state of view" [value]="state.value">
                        {{ state.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="{{'SearchRoom' | translate }}" id="room-Id-Search-Box" formControlName="Search">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>

<div class="example-container mat-elevation-z8 table_space">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <!-- Checkbox Column -->
        <!-- <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container> -->

        <!-- Position Column  -->
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">
{{element.status == 'assign' ? ('Active' | translate) : element.status == 'grace' ? ('Grace' | translate) :
('Unassigned' |translate)}} </mat-cell>
        </ng-container>

        <!-- Room Name Column -->
        <ng-container matColumnDef="RoomName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'RoomName' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roomName}} </mat-cell>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="Place">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Place' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.place}} </mat-cell>
        </ng-container>

        <!-- Devices Column -->
        <ng-container matColumnDef="Devices">
            <mat-header-cell *matHeaderCellDef> {{'Device' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngFor="let device of element.devices">
                    <mat-icon matListIcon *ngIf="device.deviceName"><img src="../../../assets/images/{{device.deviceType}}.png"
                            style="width: 75%; height: 75%" alt="Desc 1 "></mat-icon>
                </span>
            </mat-cell>
        </ng-container>

        <!-- Account Column -->
        <ng-container matColumnDef="Account">
            <mat-header-cell fxLayout="row" fxLayoutAlign="space-between center" *matHeaderCellDef mat-sort-header>
                <span fxLayoutAlign="start center"> {{'Account' | translate }} </span>
                <button class="icon_btn" mat-icon-button color="primary" id="sspRoom-Id-Add-Room" (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
                <button class="icon_btn" mat-icon-button fxLayoutAlign="end center" color="primary" (click)="refresh()">
                    <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateRoomDetails(row)" (dblclick)="navigateRoomDetails(row)">
            <!-- (click)="selection.toggle(row)" -->
        </mat-row>
    </mat-table>
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
    </div>
    <mat-paginator #paginator class="custom_mat_paginator" [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
